body{
    width: max-width;
    background-color: white;
}

h2{
    font-size: 1.5em;
    font-weight: bold;
    height: 20px;
    padding-left: 10px;
    color: deepskyblue;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
    color: hotpink;
    height: 20px;
    padding-left: 10px;
    color: deepskyblue;
}
p{
    font-size: 14px;
}

th {
    background-color: hotpink;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}
.th_id,.td_id {
    width:50px;
    border: solid 1px;
    text-align: center;
}
.th_category,.td_category{
    width:100px;
    border: solid 1px;
    text-align: center;
}
.th_ja_word,.td_ja_word{
    width:250px;
    border: solid 1px;
}
.th_en_word,.td_en_word{
    width:250px;
    border: solid 1px;
}
.th_memo,.td_memo{
    width:250px;
    border: solid 1px;
}

.th_edit,.td_edit{
    width:50px;
    border: solid 1px;
    text-align: center;
}
.th_delete,.td_delete{
    width:50px;
    border: solid 1px;
    text-align: center;
}
.th_detali,.td_detail{
    width:50px;
    border: solid 1px;
    text-align: center;
}
.th_image,
.td_image {
  border: 1px solid black;
  padding: 5px; /* セル内に余白を設定する場合 */
  text-align: center; /* セル内のテキストを中央寄せにする場合 */
}
.th_user,.td_user{
    width:50px;
    border: solid 1px;
    text-align: center;
}

/*<i class="fa-solid fa-pen-nib fa-1x"></i>*/
.icon_green {
    color: hotpink;
  }
