body{
    width: 1350px;
    background-color: white;

}

hi{
    font-size: 2.2em;
    font-weight: bold;
    height: 50px;
    background-color: silver;
    padding-left: 10px;
    color: blueviolet;
    margin-bottom: 30px;
}

p{
    font-size: 14px;
}

th {
    background-color: hotpink;
}

table{
    border: solid 1px;
}

.th_id,.td_id {
    width: 50px;
    border: solid 1px;
}
.th_category,.td_category{
    width:100px;
    border: solid 1px;
}
.th_ja_word,.td_ja_word{
    width:200px;
    border: solid 1px;
}
.th_en_word,.td_en_word{
    width:300px;
    border: solid 1px;
}
.th_memo,.td_memo{
    width:180px;
    border: solid 1px;
}

.th_edit,.td_edit{
    width:60px;
    border: solid 1px;
}
.th_delete,.td_delete{
    width:60px;
    border: solid 1px;
}