<!　base.htmlを継承する子テンプレート -->
{% extends "english_list/base.html" %}

<!　block.superは親テンプレートのブロック内部の値を持った変数になります。そして、それを子テンプレートで使える -->
{% block title %}トップページ{{block.super}}{% endblock %}

{% block content %}
<h2>サインアップ</h2>
<h3>{% if messages %}
    {% for message in messages %}
        {{ message }}
        <a href="{% url 'english_list:login' %}">ログイン</a>
    {% endfor %}
{% endif %}</h3>

    <form action="" method="post">
    {% csrf_token %}
    {# 共通のerrorを出す#}
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.label }}: {{ field}}<br>
        {{ field.errors }}
    {% endfor %}
<button type="submit" class="btn btn-primary">登録</button>
</form>

{% endblock %}
