<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>詳細ページ</title>
</head>
<body>
    <hi>ID：{{ object.id }}の詳細ページです</hi>
    <p>カテゴリ－：{{ object.category }}</p>
    <p>日本語：{{ object.ja_word }}</p>
    <p>英語：{{ object.en_word }}</p>
    <p>メモ：{{ object.memo }}</p>
    {% if object.file %}
        <p><img width="200px" height="200px" src="{{ object.file.url }}"></p>
    {% else %}
        <p>No image available</p>
    {% endif %}
    <p><a href="{% url 'english_list:edit_word' object.id %}">編集</a></p>

</body>
</html>